{% extends 'Base/base.html.twig' %}

{% block body %}
    <div>
        <h1>Contenu de votre panier</h1>
        <form>
            <table>
                <tbody><tr>
                    <th>Libellé</th>
                    <th>Prix u.</th>
                    <th>Quantité</th>
                    <th>Prix total</th>
                    <th>Action</th>
                </tr>
                {% for panier in paniers %}
                    <tr>
                        <td>{{ panier.product.libelle }}</td>
                        <td>{{ panier.product.prix }}</td>
                        <td>{{ panier.quantity }}</td>
                        <td>{{ panier.quantity * panier.product.prix }}</td>
                        <td><button><a href="{{ path('panier_delete', { 'id_product': panier.product.id }) }}">Supprimer</a></button></td>
                    </tr>
                {% endfor %}

                <tr>
                    <td colspan="3"></td>
                    <td><button><a href="{{ path("panier_buy") }}">Acheter</a></button></td>
                    <td><button><a href="{{ path("panier_clear") }}">Vider</a></button></td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
{% endblock %}
