{% extends 'Base/base.html.twig' %}


{% block body %}
    <h1>Liste des produits du magasin</h1>
    <form>
        <table>
            <thead>
            <tr>
                <th>Libellé</th>
                <th>Prix unitaire</th>
                <th>Quantité en stock</th>
                <th>Commande</th>
            </tr>
            </thead>
            <tbody>
            {% for produit in produits %}
                <tr>
                    <td>{{ produit.libelle }}</td>
                    <td>{{ produit.prix }}</td>
                    <td>{{ produit.enStock }}</td>
                    <td>
                        {% if produit.enStock > 0 %}
                            <select name="{{ produit.id }}">
                                {% for i in 0..produit.enStock %}
                                    <option value="{{ i }}">{{ i }}</option>
                                {% endfor %}
                            </select>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <button>Ajouter</button>
    </form>

{% endblock %}