{% extends 'Base/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/bienvenue.css') }}">
{% endblock %}
{% block body %}
<div class="example-wrapper">
    {% for msg in app.session.flashBag.get('info') %}
        <li>{{ msg }}</li>
    {% endfor %}
    {% if connected %}
        <h1>Bonjour {{ user.firstName }} [{{ user.roles[0] }}]</h1>
        <br>
        <p>Nous sommes content de vous revoir !</p>
    {% else %}
        <h1>Bonjour</h1>
        <br>
        <p>Bienvenue sur notre site 😉 <br><br> Vous êtes un visiteur anonyme !</p>
    {% endif %}
    <br>
    <div>
        <h4>La moyenne des notes est de :</h4> <span>{{ result }}</span>
    </div>
</div>
{% endblock %}